/* NavTab */
#NT-main-div {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

@media (max-width: 850px) {
    #NT-main-div {
        margin-right: 0;
    }
}

#NT-main-div > * {
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.93);
    color: rgb(46, 46, 46);
    font-size: 14px;
    padding: 15px 20px;
    width: 25%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
}

#NT-main-div button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#NT-income {
    border-bottom: 4px solid green;
}

