/*  */
#MM-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#SideBar-Container-mian-div {
    display: flex;
}

@media (max-width: 850px) {
    #SB-main-div {
        display: none;
    }
}